@{
    ViewData["Title"] = "Panel pracownila";
}

<h1>Zarządzaj</h1>
<div>
    <div class="form-group alert-success">@TempData["message_success"]</div>
    <div class="form-group">
        <input type="button" value="Wyswietl studentów" onclick="location.href='@Url.Action("Students", "Panel")'" />
    </div>
    <div class="form-group">
        <input type="button" value="Wyswietl profesorów" onclick="location.href='@Url.Action("Teachers", "Panel")'" />
    </div>
    <div class="form-group">
        <input type="button" value="Wyswietl przedmioty" onclick="location.href='@Url.Action("Subjects", "Panel")'" />
    </div>
    <div class="form-group">
        <input type="button" value="Utwórz konto pracownika" onclick="location.href='@Url.Action("Create", "Account")'" />
    </div>
</div>
