@model IEnumerable<TeacherDTO>
@{
    ViewData["Title"] = "Lista prowadzących";
    <link href="~/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
}

<h1>@ViewData["Title"]</h1>

<div class="well">
    <div class="form-group">
        <input type="button" value="Dodaj prowadzącego" onclick="location.href='@Url.Action("CreateTeacher", "Panel")'" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Tytuł</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.AcademicTitle</td>
                    <td>@t.FirstName</td>
                    <td>@t.LastName</td>
                    <td>@t.Email</td>
                    <td>@t.Phone</td>
                    <td>
                        <a class="nav-link text-dark" asp-controller="Panel" asp-action="EditTeacher" asp-route-id="@t.ID"><i class="bi bi-pencil-square"></i></a>
                        <a onclick="return confirm('Czy jesteś pewien usunięcia prowadzącego?')" class="nav-link text-dark" asp-controller="Panel" asp-action="DeleteTeacher" asp-route-id="@t.ID"><i class="bi bi-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

